# We do *NOT* want binaries in our git repositories.
*.apk
*.deb
*.rpm
*.a
*.o
*.so
*.so.2
*.tar
*.tar.*
*.jar
*.war
*.dll
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.mp3
*.mp4
*.avi


# IDE related files
.idea
.vscode
.tags

# macOS files:
.DS_Store

# emacs files
*~

# Coverage related files
.coverage.*
.coverage-*
*-coverage.html
*-coverage.txt
coverage.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
/vendor
/build
